.todo-text {
    font-size: 16px;
    color: #333;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    min-width: 200px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    transition: background-color 0.3s ease;
}
@keyframes lineThrough {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.todo-text.done {
    color: green;
    position: relative;
    overflow: hidden;
}

.todo-text.done::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    height: 2px;
    background-color: green;
    width: 0;
    animation: lineThrough 1s ease-out forwards;
}
@keyframes lineThrough {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes lineUnThrough {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.todo-text {
    color: #333;
    position: relative;
    overflow: hidden;
}

.todo-text.done {
    color: #1976d2;
}

.todo-text.done::after,
.todo-text.undone::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    height: 2px;
    background-color: #1976d2;
}

.todo-text.done::after {
    width: 100%;
    animation: lineThrough 0.5s ease-out forwards;
}

.todo-text.undone::after {
    width: 0;
    animation: lineUnThrough 0.5s ease-out forwards;
}

.todo-text:hover {
    background-color: #f0f0f0;
}

.crossButton {
    padding: 5px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid #c60101;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff050b;
    color: white;
    transition: box-shadow 0.3s ease;
}

.crossButton:hover {
    box-shadow: 0 0 5px #fa4e4e;
}

.todo-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.todo-item-wrapper:hover {
    background-color: #f9f9f9;
}

.pagination-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}